.asColorInput-wrap {
  position: relative;
  display: inline-block;
}
.asColorInput_hideInput {
  display: none;
}
.asColorInput_hideInput .asColorInput-clear {
  display: none;
}
.asColorInput-dropdown {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  position: absolute;
  z-index: 9999;
}
.asColorInput-dropdown * {
  margin: 0;
  padding: 0;
}
.asColorInput_open {
  display: block;
}
.asColorInput-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
.asColorInput-trigger {
  display: inline-block;
  position: relative;
}
.asColorInput-trigger {
  cursor: pointer;
  width: 18px;
  height: 20px;
  background-image: url('../images/transparent.png');
}
.asColorInput-trigger span {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.asColorInput-input,
.asColorInput-trigger {
  vertical-align: middle;
}
.asColorInput-clear {
  display: none;
  position: absolute;
  top: 0;
  right: 26px;
  color: #777;
  text-decoration: none;
}
.asColorInput-clear:after {
  content: 'x';
}
.asColorInput-wrap:hover .asColorInput-clear {
  display: inline-block;
}
.asColorInput-preview {
  float: left;
  list-style: none;
}
.asColorInput-preview li {
  background-image: url('../images/transparent.png');
  vertical-align: top;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.asColorInput-preview li span {
  height: 100%;
  display: block;
}
.asColorInput-preview-previous {
  cursor: pointer;
}
.asColorInput-palettes ul {
  display: block;
}
.asColorInput-palettes ul:before,
.asColorInput-palettes ul:after {
  content: "";
  display: table;
}
.asColorInput-palettes ul:after {
  clear: both;
}
.asColorInput-palettes li {
  background-image: url('../images/transparent.png');
  display: block;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.asColorInput-palettes li span {
  height: 100%;
  display: block;
}
.asColorInput-saturation {
  clear: both;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 175px;
  height: 175px;
  background-image: url("../images/saturation.png");
}
.asColorInput-saturation i {
  position: absolute;
}
.asColorInput-hue,
.asColorInput-alpha {
  cursor: pointer;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 20px;
  height: 175px;
}
.asColorInput-hue i,
.asColorInput-alpha i {
  position: absolute;
  cursor: row-resize;
}
.asColorInput-hue {
  background-image: url('../images/hue.png');
}
.asColorInput-alpha {
  background-image: url('../images/alpha.png');
}
.asColorInput-buttons a,
.asColorInput-gradient-control a {
  text-decoration: none;
  cursor: pointer;
}
.asColorInput-gradient {
  display: none;
}
.asColorInput-gradient_enable {
  display: block;
}
.asColorInput-gradient-preview {
  float: left;
  height: 20px;
}
.asColorInput-gradient-markers {
  position: relative;
  width: 100%;
}
.asColorInput-gradient-marker {
  position: absolute;
  outline: none;
}
.asColorInput-gradient-wheel {
  float: left;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.asColorInput-gradient-wheel i {
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 100%;
}
.asColorInput-gradient-angle {
  float: left;
}
.asColorInput-dropdown {
  background: #fefefe;
  padding: 10px;
  border: 1px solid #bbbbbb;
  min-width: 205px;
  max-width: 235px;
}
[data-mode="palettes"] .asColorInput-dropdown {
  min-width: auto;
  max-width: auto;
}
.asColorInput-trigger {
  border: 1px solid #bbbbbb;
}
.asColorInput-saturation {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.asColorInput-saturation i {
  width: 5px;
  height: 5px;
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 100%;
  border: 2px
			solid #fff;
}
.asColorInput-hue,
.asColorInput-alpha {
  margin-left: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.asColorInput-hue i,
.asColorInput-alpha i {
  width: 20px;
  height: 2px;
  margin-top: -2px;
  left: -2px;
  border: 2px solid #fff;
}
.asColorInput-preview {
  position: relative;
  height: 33px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.asColorInput-preview:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  content: '';
  pointer-events: none;
}
.asColorInput-preview li {
  width: 48px;
  height: 33px;
}
.asColorInput-hex {
  width: 100px;
  border-color: rgba(0, 0, 0, 0.05);
}
.asColorInput-palettes li {
  width: 21px;
  height: 15px;
  margin-right: 6px;
  margin-bottom: 3px;
}
.asColorInput-palettes li span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.asColorInput-palettes li:nth-child(5n) {
  margin-right: 0;
}
[data-mode="palettes"] .asColorInput-palettes li:nth-child(5n) {
  margin-right: 6px;
}
.asColorInput-buttons,
.asColorInput-gradient-control {
  float: right;
}
.asColorInput-buttons a,
.asColorInput-gradient-control a {
  margin-left: 5px;
}
.asColorInput-gradient {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.asColorInput-gradient-preview {
  position: relative;
  width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.asColorInput-gradient-preview:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/transparent.png');
  content: '';
  z-index: -1;
}
.asColorInput-gradient-markers {
  top: -16px;
  width: 160px;
  height: 16px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.asColorInput-gradient-marker {
  width: 10px;
  height: 10px;
  margin-left: -6px;
  border: 1px solid #bbbbbb;
  background: #fff;
}
.asColorInput-gradient-marker span {
  display: block;
  width: 100%;
  height: 100%;
}
.asColorInput-gradient-marker i {
  position: absolute;
  left: 2px;
  bottom: -3px;
  width: 4px;
  height: 4px;
  border: 1px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.05);
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
      transform: rotate(45deg);
}
.asColorInput-gradient-marker_active {
  border: 2px solid #41a9e5;
  z-index: 1;
}
.asColorInput-gradient-marker_active i {
  left: 1px;
  border: 2px solid transparent;
  border-right-color: #41a9e5;
  border-bottom-color: #41a9e5;
}
.asColorInput-gradient-wheel {
  margin-left: 10px;
}
.asColorInput-gradient-wheel i {
  background-color: #888888;
}
.asColorInput-gradient-angle {
  margin-left: 10px;
  width: 24px;
}
