/* core.css*/

.unselectable {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.asColorInput-input {
  display: none;
}

.asColorInput-input.asColorInput_showInput {
  display: block;
}

.asColorInput {
  position: absolute;
  z-index: 9999;
  display: none;
}

.asColorInput.asColorInput_show {
  display: block;
}

.asColorInput.asColorInput_flat {
  position: relative;
  top: 0;
  left: 0;
  z-index: auto;
  display: block;
}

.asColorInput-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
}

.asColorInput-trigger {
  position: relative;
  display: block;
}

.asColorInput .asColorInput-alpha,
.asColorInput .asColorInput-check,
.asColorInput .asColorInput-hue,
.asColorInput .asColorInput-hex,
.asColorInput .asColorInput-info,
.asColorInput .asColorInput-palettes,
.asColorInput .asColorInput-preview,
.asColorInput .asColorInput-saturation {
  position: absolute;
}

/* skin css*/

.asColorInput-trigger.asColorInput_flatSpirit {
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  background-color: #434343;
  border: 1px solid #000;
}

.asColorInput-trigger.asColorInput_flatSpirit span {
  position: absolute;
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 3px;
  background-color: #4accda;
  border: 1px solid #000;
}

.asColorInput-trigger.asColorInput_flatSpirit span:before {
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 6px;
  height: 6px;
  background-color: #434343;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  content: '';
}

.asColorInput-trigger.asColorInput_flatSpirit span:after {
  position: absolute;
  right: -4px;
  bottom: -5px;
  border: 4px solid transparent;
  border-top-color: #787878;
  content: '';
}

.asColorInput.asColorInput_flatSpirit {
  width: 278px;
  height: 327px;
  padding: 0;
  margin: 0;
  background-color: #434343;
  border: 1px solid #000;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-palettes {
  padding: 11px 12px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-palettes ul {
  padding: 0;
  margin: 0;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-palettes li {
  float: left;
  width: 23px;
  height: 23px;
  margin: 0 3px 0 0;
  text-indent: -999px;
  list-style: none;
  cursor: pointer;
  background-color: #ff0000;
  border: 1px solid #363636;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-palettes .asColorInput-palettes-checked {
  border-color: #888;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-palettes li:last-child {
  margin: 0;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-alpha,
.asColorInput.asColorInput_flatSpirit .asColorInput-hue {
  width: 256px;
  height: 27px;
  padding: 0;
  margin: 0;
  cursor: col-resize;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-alpha i,
.asColorInput.asColorInput_flatSpirit .asColorInput-hue i {
  position: absolute;
  top: -2px;
  width: 2px;
  height: 29px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.asColorInput.asColorInput_flatSpirit .asColorInput-alpha {
  top: 57px;
  left: 10px;
  background: url("../image/alpha-horizontal.png") no-repeat transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.asColorInput.asColorInput_flatSpirit .asColorInput-alpha i {
  left: 30%;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-hue {
  top: 97px;
  left: 10px;
  background: url("../image/hue-horizontal.png") no-repeat transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.asColorInput.asColorInput_flatSpirit .asColorInput-hue i {
  left: 50%;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-saturation {
  top: 143px;
  left: 10px;
  width: 173px;
  height: 172px;
  padding: 0;
  margin: 0;
  cursor: crosshair;
  background: url("../image/saturation.png") no-repeat #4accda;
  border: 1px solid #363636;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-saturation i {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 9px 9px 9px 9px;
     -moz-border-radius: 9px 9px 9px 9px;
          border-radius: 9px 9px 9px 9px;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-saturation b {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  -webkit-border-radius: 7px 7px 7px 7px;
     -moz-border-radius: 7px 7px 7px 7px;
          border-radius: 7px 7px 7px 7px;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-preview {
  top: 144px;
  right: 10px;
  width: 73px;
  height: 45px;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-preview-previous {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-preview-current {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 50%;
  height: 100%;
  background-color: #4accda;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-hex {
  top: 199px;
  right: 10px;
  width: 73px;
  height: 25px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #444;
  text-align: center;
  background-color: #fff;
  border: none;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check {
  right: 10px;
  bottom: 10px;
  padding: 0;
  margin: 0;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check a {
  position: absolute;
  display: block;
  width: 73px;
  padding: 3px 0;
  font-family: "proxima Nova";
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check .asColorInput-check-apply {
  right: 0;
  bottom: 36px;
  color: #fff;
  background-color: #9b9b9b;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check .asColorInput-check-apply:hover {
  background-color: #b2b2b2;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check .asColorInput-check-apply:active {
  background-color: #565656;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check .asColorInput-check-cancel {
  right: 0;
  bottom: 0;
  color: #c3c3c3;
  background-color: #272727;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check .asColorInput-check-cancel:hover {
  background-color: #343434;
}

.asColorInput.asColorInput_flatSpirit .asColorInput-check .asColorInput-check-cancel:active {
  background-color: #000;
}

.asColorInput-trigger.asColorInput_realWorld {
  width: 64px;
  height: 25px;
  padding: 0;
  cursor: pointer;
  background-color: #434343;
  border: 1px solid #000;
  -webkit-border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
}

.asColorInput-trigger.asColorInput_realWorld span {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 19px;
  margin: 2px 3px;
  background-color: #5ac5d5;
  border: 1px solid #000;
}

.asColorInput-trigger.asColorInput_realWorld span:after {
  position: absolute;
  top: 8px;
  right: -16px;
  border: 6px solid transparent;
  border-top-color: #adadad;
  content: '';
}

.asColorInput.asColorInput_realWorld {
  width: 297px;
  height: 230px;
  padding: 0;
  margin: 2px 0;
  background-color: #434343;
  border: 1px solid #000;
  -webkit-border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
}

.asColorInput.asColorInput_realWorld .asColorInput-saturation {
  top: 11px;
  left: 11px;
  width: 173px;
  height: 172px;
  padding: 0;
  margin: 0;
  cursor: crosshair;
  background: url("../image/saturation.png") no-repeat #4accda;
  border: 3px solid #000;
  -webkit-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3);
     -moz-box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.asColorInput.asColorInput_realWorld .asColorInput-saturation i {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 9px 9px 9px 9px;
     -moz-border-radius: 9px 9px 9px 9px;
          border-radius: 9px 9px 9px 9px;
}

.asColorInput.asColorInput_realWorld .asColorInput-saturation b {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  -webkit-border-radius: 7px 7px 7px 7px;
     -moz-border-radius: 7px 7px 7px 7px;
          border-radius: 7px 7px 7px 7px;
}

.asColorInput.asColorInput_realWorld .asColorInput-saturation b:before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 2px;
  height: 2px;
  background-color: #fff;
  content: '';
}

.asColorInput.asColorInput_realWorld .asColorInput-alpha,
.asColorInput.asColorInput_realWorld .asColorInput-hue {
  width: 19px;
  height: 168px;
  padding: 0;
  margin: 0;
  cursor: row-resize;
  border: 2px solid #000;
}

.asColorInput.asColorInput_realWorld .asColorInput-alpha i,
.asColorInput.asColorInput_realWorld .asColorInput-hue i {
  position: absolute;
  left: -13px;
  width: 18px;
  height: 13px;
  margin-top: -6px;
  background: url("../image/arrow-left.png") no-repeat transparent;
}

.asColorInput.asColorInput_realWorld .asColorInput-alpha i:before,
.asColorInput.asColorInput_realWorld .asColorInput-hue i:before {
  position: absolute;
  right: -27px;
  width: 18px;
  height: 13px;
  background: url("../image/arrow-right.png") no-repeat transparent;
  content: '';
}

.asColorInput.asColorInput_realWorld .asColorInput-alpha {
  top: 11px;
  right: 15px;
  background: url("../image/alpha-vertical.png") no-repeat -6px -6px transparent;
}

.asColorInput.asColorInput_realWorld .asColorInput-alpha i {
  top: 0;
}

.asColorInput.asColorInput_realWorld .asColorInput-hue {
  top: 11px;
  right: 61px;
  background: url("../image/hue-vertical.png") no-repeat -1px -1px transparent;
}

.asColorInput.asColorInput_realWorld .asColorInput-hue i {
  top: 0;
}

.asColorInput.asColorInput_realWorld .asColorInput-hex {
  bottom: -7px;
  left: 12px;
  width: 85px;
  height: 25px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #252525;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.asColorInput.asColorInput_realWorld .asColorInput-check {
  right: 15px;
  bottom: 6px;
}

.asColorInput.asColorInput_realWorld .asColorInput-check a {
  position: absolute;
  display: inline-block;
  width: 73px;
  padding: 3px 0;
  font-family: "proxima Nova";
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.asColorInput.asColorInput_realWorld .asColorInput-check .asColorInput-check-apply {
  right: 0;
  bottom: 0;
  color: #444;
  -webkit-text-shadow: 1px 1px 0 #ffffff;
     -moz-text-shadow: 1px 1px 0 #ffffff;
          text-shadow: 1px 1px 0 #ffffff;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgxODE4MSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, rgba(210, 210, 210, 0.6) 0, rgba(129, 129, 129, 0.6) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(210, 210, 210, 0.6)), color-stop(100%, rgba(129, 129, 129, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(210, 210, 210, 0.6) 0, rgba(129, 129, 129, 0.6) 100%);
  background-image: -o-linear-gradient(top, rgba(210, 210, 210, 0.6) 0, rgba(129, 129, 129, 0.6) 100%);
  background-image: -ms-linear-gradient(top, rgba(210, 210, 210, 0.6) 0, rgba(129, 129, 129, 0.6) 100%);
  background-image: linear-gradient(to bottom, rgba(210, 210, 210, 0.6) 0, rgba(129, 129, 129, 0.6) 100%);
  border: 1px solid #000;
  -webkit-border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
          border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #ffffff;
     -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #ffffff;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 #ffffff;
}

.asColorInput.asColorInput_realWorld .asColorInput-check .asColorInput-check-apply:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.asColorInput.asColorInput_realWorld .asColorInput-check .asColorInput-check-apply:active {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 5px 0 #000000;
     -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 5px 0 #000000;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 5px 0 #000000;
}

.asColorInput.asColorInput_realWorld .asColorInput-check .asColorInput-check-cancel {
  right: 78px;
  bottom: 0;
  color: #fff;
}

.asColorInput.asColorInput_realWorld .asColorInput-check .asColorInput-check-cancel:hover {
  text-decoration: underline;
}

/*
    gradinet css
 */

.asColorInput-gradient-trigger {
  position: absolute;
  top: 273px;
  left: 209px;
  display: block;
  width: 58px;
  height: 31px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 31px;
  color: #777;
  text-decoration: none;
}

.asColorInput-gradient-trigger:hover {
  color: #444;
  text-decoration: none;
}

.asColorInput-gradient-trigger:active,
.asColorInput-gradient-trigger:focus {
  outline: none !important;
}

.asColorInput-gradient {
  position: absolute;
  top: 324px;
  left: 0;
  display: none;
  width: 100%;
  height: 70px;
  padding: 23px 15px 20px;
  background-color: #fafafa;
  border-top: 2px solid #e5e5e5;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

.asColorInput-gradient:after {
  position: absolute;
  top: -7px;
  right: 38px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background-color: #fafafa;
  border: 2px solid #e5e5e5;
  border-right-color: transparent;
  border-bottom-color: transparent;
  content: "";
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.asColorInput-gradient.asColorInput-gradient_show {
  display: block;
}

.asColorInput-gradient-panel {
  float: left;
  width: 175px;
  height: 21px;
  border: 2px solid #e5e5e5;
}

.asColorInput-gradient-background {
  width: 175px;
  height: 21px;
  border: 2px solid #e5e5e5;
}

.asColorInput-gradient-markers {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 187px;
  height: 15px;
}

.asColorInput-gradient-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.asColorInput-gradient-maker:after {
  position: absolute;
  bottom: -3px;
  left: 3px;
  z-index: 1;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-top-color: transparent;
  border-left-color: transparent;
  content: "";
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.asColorInput-gradient-maker i {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 1px;
  line-height: 1;
  border: 1px solid #e5e5e5;
}

.asColorInput-gradient-wheel {
  position: relative;
  float: left;
  width: 21px;
  height: 21px;
  margin-left: 8px;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

.asColorInput-gradient-wheel i {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 3px;
  height: 3px;
  background-color: #444;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

input.asColorInput-gradient-degree[type="text"] {
  float: left;
  width: 35px;
  height: 25px;
  padding: 3px;
  margin: 0 0 0 5px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: normal;
  color: #aaa;
  background: #fff;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

input.asColorInput-gradient-degree[type="text"]:hover {
  border-color: #d9d9d9;
}

input.asColorInput-gradient-degree[type="text"]:focus {
  color: #444;
  border-color: #5cafda;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}