.colorInput {
  width: 300px;
  margin-right: 4px;
  vertical-align: middle;
}

.colorInput-trigger {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../img/trigger.png) -20px 0 no-repeat;
  border: 1px solid #999;
}

.colorInput-trigger span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/trigger.png) 0 0 no-repeat;
}

.colorInput {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #bbb;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.colorInput .colorInput-saturation {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  cursor: crosshair;
  background: url(../img/colors.png) -40px 0 no-repeat;
}

.colorInput .colorInput-saturation i {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;
}

.colorInput .colorInput-saturation i b {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.colorInput .colorInput-hue {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 150px;
  margin-left: 5px;
  cursor: row-resize;
  background: url(../img/colors.png) 0 0 no-repeat;
}

.colorInput .colorInput-hue i {
  position: absolute;
  left: -2px;
  width: 22px;
  height: 2px;
  margin-top: -1px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

.colorInput .colorInput-alpha {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 150px;
  margin-left: 5px;
  cursor: row-resize;
  background: url(../img/colors.png) -20px 0 no-repeat;
}

.colorInput .colorInput-alpha i {
  position: absolute;
  left: -2px;
  width: 22px;
  height: 2px;
  margin-top: -1px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

.colorInput .colorInput-saturation {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  cursor: crosshair;
  background: url(../img/colors.png) -40px 0 no-repeat;
}

.colorInput .colorInput-saturation i {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;
}

.colorInput .colorInput-saturation i b {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.colorInput .colorInput-palettes ul {
  padding: 0;
  margin: 0;
}

.colorInput .colorInput-palettes ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  text-indent: -9999px;
  list-style: none;
  border: 1px solid #555;
}

.colorInput .colorInput-palettes ul .checked {
  opacity: 0.5;
}

.colorInput .colorInput-hex {
  width: 90px;
  height: 19px;
  margin-top: 9px;
}

.colorInput .colorInput-preview {
  float: right;
  width: 66px;
  height: 28px;
  margin-top: 8px;
  background-color: #E2B85F;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.colorInput.colorInput-flat {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.colorInput-extra {
  float: left;
  width: 68px;
  margin-left: 5px;
  font-size: 11px;
}

.colorInput-extra ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.colorInput-extra li {
  padding: 0;
  margin: 0;
}

.colorInput-sets {
  width: 60px;
  height: 20px;
  margin-bottom: 5px !important;
  overflow: hidden;
  border: 1px solid #888;
  border-color: rgba(0, 0, 0, 0.5);
}

.colorInput-sets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.colorInput-sets [data-color="white"] {
  background: #fff;
}

.colorInput-sets [data-color="black"] {
  background: #000;
}

.colorInput-sets [data-color="transparent"] {
  background: url(../img/colors.png) -1px -151px no-repeat;
}

.colorInput-info {
  margin-bottom: 5px !important;
  line-height: 16px;
}

.colorInput-info label {
  margin-left: 15px;
}

.colorInput-info input {
  width: 35px;
  padding: 0;
  margin: 0 0 0 5px;
  border: none;
}