.colorinput {
  width: 300px;
  margin-right: 4px;
  vertical-align: middle;
}

.colorinput-trigger {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../img/trigger.png) -20px 0 no-repeat;
  border: 1px solid #999;
}

.colorinput-trigger span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/trigger.png) 0 0 no-repeat;
}

.colorinput-picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #bbb;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.colorinput-picker.colorinput-flat {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 150px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.colorinput-picker-hue,
.colorinput-picker-alpha {
  position: relative;
  float: left;
  width: 20px;
  height: 150px;
  margin-left: 5px;
  cursor: row-resize;
  background: url(../img/colors.png) 0 0 no-repeat;
}

.colorinput-picker-hue i,
.colorinput-picker-alpha i {
  position: absolute;
  left: -2px;
  width: 22px;
  height: 2px;
  margin-top: -1px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
}

.colorinput-picker-alpha {
  background: url(../img/colors.png) -20px 0 no-repeat;
}

.colorinput-picker-saturation {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  cursor: crosshair;
  background: url(../img/colors.png) -40px 0 no-repeat;
}

.colorinput-picker-saturation i {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;
}

.colorinput-picker-saturation i b {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.colorinput-picker-extra {
  float: left;
  width: 68px;
  margin-left: 5px;
  font-size: 11px;
}

.colorinput-picker-extra ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.colorinput-picker-extra li {
  padding: 0;
  margin: 0;
}

.colorinput-picker-sets {
  width: 60px;
  height: 20px;
  margin-bottom: 5px !important;
  overflow: hidden;
  border: 1px solid #888;
  border-color: rgba(0, 0, 0, 0.5);
}

.colorinput-picker-sets li {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.colorinput-picker-sets [data-color="white"] {
  background: #fff;
}

.colorinput-picker-sets [data-color="black"] {
  background: #000;
}

.colorinput-picker-sets [data-color="transparent"] {
  background: url(../img/colors.png) -1px -151px no-repeat;
}

.colorinput-picker-info {
  margin-bottom: 5px !important;
  line-height: 16px;
}

.colorinput-picker-info label {
  margin-left: 15px;
}

.colorinput-picker-info input {
  width: 35px;
  padding: 0;
  margin: 0 0 0 5px;
  border: none;
}

.colorinput-picker-hex {
  width: 68px;
  padding: 2px;
  margin: 0;
  margin-bottom: 5px !important;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.colorinput-picker-preview {
  background: url("../img/colors.png") no-repeat scroll -1px -151px transparent;
  border: 1px solid #888;
  border-color: rgba(0, 0, 0, 0.5);
}

.colorinput-picker-preview div {
  width: 66px;
  height: 28px;
}